In [5]:
# Cell 1: Setup and check initial count
import cml.data_v1 as cmldata
import os
import pandas as pd
from datetime import datetime

# Setup
USERNAME = os.environ.get("PROJECT_OWNER")
DBNAME = "bnk_mlops_hol_ozarate"  # Adjust if needed
CONNECTION_NAME = os.environ["CONNECTION_NAME"]
TABLE_NAME = f"{DBNAME}.bank_marketing_ozarate"

In [6]:
# Connect to Spark
conn = cmldata.get_connection(CONNECTION_NAME)
spark = conn.get_spark_session()

Spark Application Id:spark-4f01f32a2caa46ed92f1826d9f9f2ece

In [7]:

# Check initial count
initial_count = spark.table(TABLE_NAME).count()
print(f"Initial table count: {initial_count}")

# Check table structure
print("\nTable structure:")
spark.table(TABLE_NAME).printSchema()

# Show sample data
print("\nSample data:")
spark.table(TABLE_NAME).limit(5).show()

Hive Session ID = 7c0786d6-cca5-46ce-a88e-654dc670fa97

Initial table count: 55180

Table structure:
root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)


Sample data:

+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician| single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur|married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown| single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+

In [4]:
spark.stop()